{% extends "chars/base.html" %}
{% block content %}
<form action="{% url 'chars:search' %}" method="post">
	{% csrf_token %}
	<input type="text" name="char" placeholder="Look up a character">
	<input type="submit" value="Look up">
</form>
{% if recent_chars %}
<h1>Recents</h1>
<ul>
	{% for char in recent_chars %}
	<li>
		<a href="{% url 'chars:results' char.name %}">{{ char }}</a> ({{ char.altchar_set.count }} hists)
		{% for location in char.charinsource_set.all %}
			{% with source=location.source %}
			<a href="{{ source.file }}#page={{ location.page|add:source.offset }}">{{ source.title }} (p{{ location.page }})</a>
			{% endwith %}
		{% endfor %}
	</li>
	{% endfor %}
{% endif %}
{% endblock content %}