*__pycache__*
*.sqlite3
uploads/*
bin
lib
include
pip-selfcheck.json
.env
node_modules
.vscode
.pytest_cache
lambda-splitpdf/lib64
lambda-splitpdf/splitPdf.zip
lambda-splitpdf/bin
lamdba-splitpdf/include
lambda-splitpdf/lib
.gitignore
logs
lib64
share
