boto3==1.7.40
botocore==1.10.40
dj-database-url==0.5.0
Django==2.0.6
django-s3direct==1.0.4
docutils==0.14
gunicorn==19.8.1
jmespath==0.9.3
psycopg2-binary==2.7.4
python-dateutil==2.7.3
python-decouple==3.1
pytz==2018.4
s3transfer==0.1.13
six==1.11.0
whitenoise==3.3.1
