.navItem {
	cursor: pointer;
}

.view {
	padding: 5px 10px;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar .mat-primary {
  position: sticky;
  top: 0;
  z-index: 100;
}

.fill-remaining-space {
	flex: 1 1 auto;
}

.searchBar {
	width: 300px;
	padding-right: 3em;
}

.searchBar mat-icon {
	cursor: pointer;
	top: 5px;
	left: 28px;
	position: relative;
	color: #673ab7;
}

.searchBar input {
	background-color: white;
	color: #673ab7;
	border-radius: 5px;
	padding-left: 28px;
}

.searchBar input::placeholder {
	padding-left: 28px;
}

.mat-toolbar-tools {
	display: flex;
	width: 100%;
}

.mat-button-wrapper > * {
	margin-right: 5px;
}

.recents {
	pointer-events: none;
	margin-left: -5.1em;
	width: 5em;
	color: #673ab7;
	display: inline-block;
	text-align: right;
}

.recents > * {
	pointer-events: all;
	cursor: pointer;
}

.recents > *:hover {
	color: #dd821a;
}