<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>Outlier Tool</span>
      <span class="fill-remaining-space"></span>
      <app-char-search></app-char-search>
      <span class="fill-remaining-space"></span>
      <mat-icon class="navItem" routerLink="source" title="Manage sources">library_books</mat-icon>
      <mat-icon class="navItem" routerLink="location/uploadMap" title="Upload location map">backup</mat-icon>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
