<!-- <div class="flexrow" *ngIf="char; else char_404">
	<mat-card class="md-card-100">
		<mat-card-header>
			<div mat-card-avatar class="char-avatar">{{ char.name }}</div>
			<mat-card-title>Details</mat-card-title>
			<mat-card-subtitle>id: <strong>{{ char.id }}</strong></mat-card-subtitle>
		</mat-card-header>
	</mat-card>
</div> -->
<div class="flexrow" *ngIf="char; else char_404">
	<mat-card class="md-card-50">
		<!-- <div class="md-card-50"> -->
		<mat-accordion>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>{{ char.name }} Details</mat-panel-title>
			</mat-expansion-panel-header>
			id: {{ char.id }}
			<h3 class="mat-h3">Locations</h3>
			<mat-list *ngFor="let location of char.locations">
				<mat-list-item>
					in {{ location.source.title }} on page {{ location.page }}
					<button mat-button color="warn" (click)="deleteLocation(location.id)">Delete</button>
				</mat-list-item>
			</mat-list>
			<mat-list>
				<mat-list-item>
					in &nbsp;
					<mat-form-field>
						<mat-select placeholder="source" *ngIf="sources" [(value)]="sourceId">
							<mat-option *ngFor="let source of sources" [value]="source.id">{{ source.title }}</mat-option>
						</mat-select>
					</mat-form-field>
					&nbsp; on &nbsp;
					<mat-form-field style="width: 60px">
						<input matInput type="number" min="0" placeholder="page" #pageNo>
					</mat-form-field>
					<button mat-button color="primary" (click)="addLocation(sourceId, pageNo.value)">Add</button>
				</mat-list-item>
			</mat-list>
		</mat-expansion-panel>
		<mat-expansion-panel [expanded]="true">
			<mat-expansion-panel-header>
				<mat-panel-title>Historical forms</mat-panel-title>
			</mat-expansion-panel-header>
			<div class="flexrow">
				<mat-card *ngFor="let altchar of char.altchars" class="altcharcard">
					<mat-card-header>
						<img mat-card-avatar src="{{ altchar.image }}">
						<mat-card-title>{{ altchar.name }}</mat-card-title>
						<mat-card-subtitle>{{ altchar.sequence_no }}</mat-card-subtitle>
					</mat-card-header>
					<mat-card-content>
						<p>In {{ altchar.location.title }} on p. {{ altchar.page }}</p>
						<p>{{ altchar.source_obj }}</p>
					</mat-card-content>
					<mat-divider></mat-divider>
					<mat-card-actions>
						<button mat-button color="primary" (click)="save()">Save</button>
						<button mat-button color="warn" (click)="deleteLocation(location.id)">Delete</button>
					</mat-card-actions>
				</mat-card>
				<mat-card class="altcharcard">
					<mat-form-field>
					  <mat-select placeholder="Select source" [(value)]="selectedLocation">
					    <mat-option *ngFor="let location of char.locations" [value]="location">
					      {{ location.source.title }}
					    </mat-option>
					  </mat-select>
					</mat-form-field>
					<mat-divider></mat-divider>
					<mat-card-actions>
						<button mat-button color="primary" (click)="save()">Save</button>
						<button mat-button color="warn">Delete</button>
					</mat-card-actions>
				</mat-card>
			</div>
		</mat-expansion-panel>
		</mat-accordion>
<!-- 		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title *ngIf="char.locations">Locations</mat-panel-title>
			</mat-expansion-panel-header>
		</mat-expansion-panel> -->
	<!-- </div> -->
	</mat-card>
	<mat-card class="md-card-50">
		<mat-card-header>
			<mat-card-title>Source browser</mat-card-title>
		</mat-card-header>
		<mat-card-content *ngIf="selectedLocation">
			<iframe src="{{ selectedLocation.source.file }}"></iframe>
			page {{ selectedLocation.page }} in {{ selectedLocation.source.title }}
			<a href="{{ selectedLocation.source.file }}">{{ selectedLocation.source.file }}</a>
		</mat-card-content>
	</mat-card>
</div>
<ng-template #char_404>
	<h2>Char not found</h2>
</ng-template>