.char-avatar {
	font-size: 200%;
	border-radius: 50%;
	text-align: center;
	background-color: lightgrey;
}

.altcharcard {
	max-width: 200px;
	margin: 4px;
}

.md-card-100 {
	box-sizing: border-box;
	width: 100%;
}

.md-card-50 {
	box-sizing: border-box;
	width: 50%;
}

.flexrow {
	display: flex;
	flex-flow: row wrap;
}