<div *ngIf="!userService.isLoggedIn()">
  <loader></loader>
  <div class="dialogCard">
    <img class="outlierLogo" src="assets/outlier-logo.png">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form (keyup.enter)="login()" class="loginForm">
          <mat-form-field class="full-width">
            <input matInput placeholder="username" [(ngModel)]="username" name="user">
          </mat-form-field>
          <span class="error" *ngFor="let error of userService.errors.username">{{ error }}<br /></span>
          <mat-form-field class="full-width">
            <input matInput placeholder="password" type="password" [(ngModel)]="password" name="password">
          </mat-form-field>
          <span class="error" *ngFor="let error of userService.errors.password">{{ error }}<br /></span>
        </form>
        <span class="error" *ngFor="let error of userService.errors.non_field_errors">{{ error }}<br /></span>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="login()" color="primary">Login</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<div *ngIf="userService.isLoggedIn()">
  <app-outlier-nav></app-outlier-nav>
</div>
